:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    text-align: right;
}

/**************** 
    Header 
*****************/

.header-container {
    display: flex;
    width: 100%;
    background: linear-gradient(to right, #480048, #c04848);
    padding: 20px 0;
    justify-content: center;
    
}

.header {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.header a {
    color: #fff;
    text-decoration: none;
}

.group > a:not(:last-child) {
    border-left: 1px solid #fff;
    
}

.group > a:first-child {
    padding-left: 15px;
}

.group > a {
    padding: 0px 12px;
}

.active {
    border-bottom: 2px solid #fff;
}

/**************** 
    menu 
*****************/

.menu-container {
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: flex-start;
    padding: 20px 0;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.menu > a {
    color: #fff;
    text-decoration: none;
    padding: 0 5px;
}


/**************** 
section carousel 
*****************/

.news {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.sport-news {
    padding: 12px;
    margin: 12px 0;
}

.sport-news {
    border: 2px solid #000;
}

.sport-news > a {
    text-align: center;
    display: block;
}

.sport-news a {
    color: #000;
    text-decoration: none;
}

.most-view-news {
    display: flex;
    justify-content: space-around;
}